@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #03045e;
  --secondary-color: #ffea00;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}

/* buttons */
.primary-btn {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background: var(--primary-color);
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  transition: 0.2s ease;
}

.primary-btn:hover {
  color: #000;
  background: #fff;
  border: 2px solid black;
}

/* card */
.card {
  background: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: 0.2s ease;
}

.card:hover {
  background: var(--secondary-color);
  padding: 25px;
}

/* hamburger menu button */
.hamburger-menu span {
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* stats */
#stats span {
  font-size: 1.5rem;
  font-weight: 500;
}

#stats h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* counter */
.counter:not(.is-visible) {
  visibility: hidden;
}
