@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}

/* hamburger menu button */
.hamburger-menu span {
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
