@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #03045e;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}

/* buttons */
.primary-btn {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background: var(--primary-color);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  transition: 0.2s;
}

.primary-btn:hover {
  color: #000;
  background: #fff;
  border: 2px solid black;
}

/* hamburger menu button */
.hamburger-menu span {
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* stats */
#stats span {
  font-size: 30px;
}

#stats h3 {
  font-size: 20px;
}

/* counter */
.counter:not(.is-visible) {
  visibility: hidden;
}
